<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Alfred&apos;s 2 cents</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionMainStoryboard</key>
		<string>MainInterface</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widget-extension</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>ProximaNovaCond-SemiboldIt.otf</string>
		<string>ProximaNovaCond-Semibold.otf</string>
		<string>ProximaNovaCond-RegularIt.otf</string>
		<string>ProximaNovaCond-Regular.otf</string>
		<string>ProximaNovaCond-LightIt.otf</string>
		<string>ProximaNovaCond-Light.otf</string>
		<string>ProximaNova-SemiboldItalic.otf</string>
		<string>ProximaNova-Semibold.otf</string>
		<string>ProximaNova-RegularItalic.otf</string>
		<string>ProximaNova-Regular.otf</string>
		<string>ProximaNova-RegItalic.otf</string>
		<string>ProximaNova-LightItalic.otf</string>
		<string>ProximaNova-Light.otf</string>
		<string>ProximaNova-Extrabold.otf</string>
		<string>ProximaNova-Bold.otf</string>
		<string>ProximaNova-BoldIt.otf</string>
		<string>ProximaNova-Black.otf</string>
	</array>
</dict>
</plist>
